@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
html{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Scada', sans-serif;
    margin:0;
    padding:0;
    height: 100vh;
    box-sizing: border-box;
}
.head-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display:flex;
    justify-content:space-between; 
    align-items:center;
    position:fixed;
    z-index:1;
    width:100%;
    top:0;
    left:0;
    background-color:rgba(255, 255, 255, 0.8);
}
.logo img{
    width:70px;
    height:auto;
    margin-left: 40px;
    margin-top:10px;
    margin-bottom:5px;
}
.nav-bar{
    right:30px;
    top:10px;
}
.nav-bar ul li{
    list-style:none;
    display:inline-block;
    padding:20px 12px;
}
.nav-bar ul li:nth-child(5){
    margin-right:60px;
}
.nav-bar ul li a{
    text-decoration:none;
    font-size:20px;
    color:rgb(5, 5, 41);
}
#particles-js
{
    height:100%;
    background-image: linear-gradient(to right, #000000, #090005, #0e020d, #100414, #0d071b, #0c0a20, #080d25, #01102b, #011231, #001336, #01143c, #031541);
}
.header{
    position:absolute;
    top:58%;
    right:50%;
    transform: translate(50%,-50%);
    padding:30px 170px;
    background-color:rgb(8, 8, 8);
    color:white;
    opacity:.8;
}
.header h2{
    padding:0px 80px 0px 80px;
    color: white;
    font-size:40px;
    margin-bottom:0;
}
.header p{
    margin-top:0;
    padding:2px 0px;
    border:2px solid white;
    margin-left:70px;
}
em{
    font-style:normal;
    font-size:60px;
}
.place{
    font-size:22px;
}
.about-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display:flex;
    justify-content:space-between; 
    align-items:center;
    z-index:1;
    width:80%;
    height:100vh;
    background-color:rgba(255, 255, 255, 0.8);   
    flex-wrap: wrap;
    margin-left:180px;
}
.left{
    background-image: url(img.jpg);
    min-height:400px;
    max-width:600px;
    flex:50%;
    background-size:cover;
    border-radius:10px;
}
.right{
    flex:50%;
}
.right h1{
    color:rgb(97, 93, 93);
    font-size:50px;
    padding:1px 60px 6px 60px;
    margin:0;
}

.right p{
    font-size:18px;
    padding:0px 60px 6px 60px;

}
.right .quote{
    font-size:28px;
    margin:0px;
    color:rgb(143, 134, 134);
}
.domain-area
{   display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display:flex;
    z-index:1;
    width:100%;
    height:100vh;
    background-image: url("bg2.png");   
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.domain-area .title{
    position:absolute;
    color:white;
    top:80px;
    font-size:40px;
}
.domain-area .contents{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display:flex;
    justify-content:center; 
    align-items:center;
    max-width:1100px;
}
.contents h2{
    font-size:24px;
}
.contents p{
    font-size: 18px;
}
.d1{
    flex:16%;
    background-color:rgba(40, 160, 207);
    padding:50px 20px;
    border-radius:10px;
}
.d2{
    flex:16%;
    background-color:rgb(255, 255, 255);
    padding:60px 20px;
    border-radius:10px;
}
.d3{
    flex:16%;
    background-color:rgb(10, 110, 150);
    padding:50px 20px;
    border-radius:10px;
}
.d4{
    flex:16%;
    background-color:rgb(247, 247, 247);
    padding:50px 20px;
    border-radius:10px;
}
i{
    font-size:30px;
    color:white;
}
.d2 i, .d4 i{
    color:rgb(16,178,241);
}
li{
    list-style:none;
    margin:3px;

}
